.gameIntroRoot{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.gameIntroRoot::after{
    top:0;
    left: 0;
    content: "";
    position: absolute;
    background-image: url("/public/images/leafBgImg.jpg");
    overflow: hidden;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.gameIntroImg{
    top: 10%;
    height: 300px;
    position:relative;
}

.gameIntroComment{
    position: absolute;
    text-align: center;
    color: #837156;
    top: 42%;
}

.btnWrapper > button {
    font-size: 15px;
    font-weight: bold;
    background: #adefff;
    border-radius: 50px;
    width: 150px;
    height: 60px;
    border: none;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: #7e725c;
    transition: transform 250ms;
}
.btnWrapper > button:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}

.btnWrapper {
    position: absolute;
    top: 80%;
    left: 46%;

}