.gameIntroCommentImg{
    top: 43%;
    left: 28%;
    height: 350px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.gameIntroComment{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #837156;
    vertical-align: middle;
    top: 61%;
}
.btnWrapper > .introBtn {
    position: absolute;
    top: 79%;
    font-size: 15px;
    font-weight: bold;
    background: #adefff;
    border-radius: 50px;
    width: 150px;
    height: 60px;
    border: none;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.15);
    color: #7e725c;
    transition: transform 250ms;
}
.btnWrapper > .introBtn:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}