.guestbookPostBg{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.guestbookPostBg::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/public/images/guestbookPostBg.png");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}

.date {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 0.9em;
  text-align: right;
  color: #3B3838;
}

.sender {
  margin-top: 0;
  font-size: 0.9em;
  text-align: right;
  color: #3B3838;
}

.submitBtn {
  background-color: #0CC6B8;
  border: none;
  border-radius: 30px;
  width: 170px;
  height: 50px;
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 1.5em;
  transition: all 0.3s ease-in-out; 
}

.guestbookPost {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.guestbookPost::before {
  background-image: url("/public/images/guestbookBg.jpg");
  content: " ";
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  background-color: grey;
  z-index: -1;
}

.guestbookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contentBack {
  margin: 30px;
}

.contentBack > input {
  border: none;
  font-size: 1em;
  font-family: "TmoneyRoundWindExtraBold";
}

.contentBack > input:focus {
  outline: none;
}

.textarea {
  width: 40em;
  height: 20em;
  border: none;
  border-radius: 5px;
  resize: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.textarea:focus {
  outline: none;
}

.submitBtn {
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #0bb5a6;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: translateY(-0.2em);
}