.guestbookPostBg{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.guestbookPostBg::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/public/images/guestbookPostBg.png");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}

.date {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1em;
  text-align: right;
  color: #3B3838;
  padding-right: 32px;
}

.sender {
  margin-top: 0;
  padding-right: 32px;
  font-size: 1.2rem;
  text-align: right;
  color: #3B3838;
  fontFamily: "TmoneyRoundWindExtraBold";
}

.submitBtn {
  background-color: #C2F0EC;
  border: none;
  border-radius: 30px;
  width: 170px;
  height: 60px;
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 1.7em;
  color: #00BAAC;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.submitBtn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: translateY(-0.1em);
}

.exitBtn {
  background-color: #FFC9CF;
  opacity: 0.9;
  border: none;
  border-radius: 30px;
  width: 170px;
  height: 60px;
  font-family: "TmoneyRoundWindExtraBold";
  font-size: 1.7em;
  color: #fe6978;
  margin-bottom: 30px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.exitBtn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: translateY(-0.1em);
}

.guestbookPost {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index : 1;
}

.guestbookPost::before {
  background-image: url("/public/images/guestbookBg.jpg");
  content: " ";
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: -1;
}

.guestbookForm {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.contentBack {
  width: 90%;
  height: 70%;
  margin: 30px;
}

.contentBack > input {
  border: none;
  font-family: "TmoneyRoundWindExtraBold";
}

.contentBack > input:focus {
  outline: none;
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  resize: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: "TmoneyRoundWindRegular";
  font-size: 1.5rem;
  color: #262626;
}

.textarea:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .alignButton {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }
  .exitBtn,
  .submitBtn {
    margin-bottom: 20px;
    margin-right: 0;
  }
}