.guestbookPostBg{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.guestbookPostBg::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/public/images/guestbookPostBg.png");
  overflow: hidden;
  z-index: -1;
}

.modalBg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/public/images/guestbookPostBg.png");
}

.sender {
  font-size: 0.9em;
  text-align: right;
  color: #3B3838;
}