.modalFont2::-webkit-scrollbar {
    width: 21px;
}

.modalFont2::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.modalFont2::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d1d1d1;
    background-clip: padding-box;
    border: 6px solid transparent;
}

.guestContentWrapper{
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    /*align-items: end;*/
}

.modalFont2{
    overflow-y: auto;
    font-family: "TmoneyRoundWindRegular";
    padding-top: 15px;
    padding-left:  32px;
    padding-right: 15px;
}

.guestContentWrapper  .DraftEditor-editorContainer,
.guestContentWrapper  .public-DraftEditor-content {
    margin-top : 3px;
    margin-left: .3rem;
    height: 200px;
    width : 98%;
    margin-bottom : 1rem;
}

.guestContentWrapper.DraftEditor-root{
    width : 60%;
    max-height: 350px;
    overflow-y: auto;
}

.guestContentWrapper.DraftEditor-root::-webkit-scrollbar {
    width: 21px;
}
.guestContentWrapper.DraftEditor-root::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.guestContentWrapper.DraftEditor-root::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d1d1d1;
    background-clip: padding-box;
    border: 6px solid transparent;
}