.guestbookPostBg{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.guestbookPostBg::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/public/images/guestbookPostBg.png");
  overflow: hidden;
  z-index: -1;
}