@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TmoneyRoundWindRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.mainWrapper {
  height: 100%;
  opacity: 0.95;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/images/main_bg.jpeg");
}

.logo {
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  animation: 0.7s ease-in-out loadEffect;
}

@keyframes loadEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
