.Wrapper,
.inner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wrapper::before,
.inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../public/images/leaf_bg.png");
  opacity: 0.4;
  z-index: -1;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

.outer::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: transparent;
}

.title {
  height: fit-content;
  text-align: center;
  font-size: 30px;
  font-family: "TmoneyRoundWindExtraBold";
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.inputBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 10px;
  background-color: white;
  border-radius: 50px;
}

.inputBack > input {
  width: 80%;
  height: 60%;
  border: none;
}

.inputBack > input:focus {
  outline: none;
}

.btnActive,
.btnHidden {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background: #0cc6b6;
  transition: all 0.5s ease-in-out;
}

.btnActive {
  opacity: 1;
}

.btnActive:hover {
  cursor: pointer;
  box-shadow: 90px 0 0 0 rgba(0, 0, 0, 0.3) inset;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.btnHidden {
  opacity: 0;
  visibility: hidden;
}

.imgWrapper {
  width: 240px;
  height: 240px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 20px;
}

.textWrapper {
  font-size: 20px;
  text-align: center;
  font-family: "TmoneyRoundWindExtraBold";
}
.textWrapper > div {
  line-height: 1.8rem;
}

.villagerName {
  font-size: 30px;
  margin: 7px 0 7px 0;
}

.btnsWrapper {
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.btnsWrapper > button {
  font-size: 15px;
  font-weight: bold;
  background: #fff9e4;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms;
}

.btnsWrapper > button:hover {
  transform: translateY(-0.25em);
  cursor: pointer;
}
