.Wrapper,
.inner,
.loadingWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper,
.inner {
  flex-direction: column;
}

.Wrapper::before,
.inner::before,
.loadingWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../public/images/leafBgImg.png");
  opacity: 0.4;
  z-index: -1;
}

.outer {
  height: 100vh;
  overflow-y: hidden;
}

.outer::-webkit-scrollbar {
  display: none;
}

.LoadingTitle {
  font-size: 2rem;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: transparent;
}

.title {
  height: fit-content;
  text-align: center;
  font-size: 30px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.commentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 80%;
}

.inputBack,
.commentBack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
}

.inputBack {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 20px 0 30px 0;
  box-shadow: 5px 5px 4px -1px rgba(119, 119, 119, 0.75);
}

.commentBack {
  width: 700px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px -1px rgba(230, 221, 201, 0.75);
}

.inputBack > input {
  width: 80%;
  height: 60%;
  border: none;
  font-size: 1.2rem;
}

.commentBack > input {
  width: 90%;
  height: 60%;
  border: none;
}

.inputBack > input:focus,
.commentBack > input:focus {
  outline: none;
}

.commentReg {
  background: #0cc6b6;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 50px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px rgba(21, 158, 147, 0.8);
}

.commentReg:hover {
  cursor: pointer;
  background-color: #0bb5a6;
  transition: all 0.3s ease-in-out;
}

.commentArea {
  width: 50%;
  height: 65%;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentArea::-webkit-scrollbar {
  width: 21px;
}

.commentArea::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.commentArea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #d1d1d1;
  background-clip: padding-box;
  border: 6px solid transparent;
}

.commentWrapper {
  height: fit-content;
  padding: 10px 10px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.speechBubbleLeft,
.speechBubbleRight {
  position: relative;
  background: #f7e7a3;
  border-radius: 0.4em;
  width: 80%;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.speechBubbleLeft:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: #f7e7a3;
  border-left: 0;
  border-top: 0;
  margin-top: -12.5px;
  margin-left: -25px;
}

.speechBubbleRight:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: #f7e7a3;
  border-right: 0;
  border-top: 0;
  margin-top: -12.5px;
  margin-right: -25px;
}

.writer {
  font-weight: 300;
  font-size: 18px;
  margin-right: 10px;
  color: #54200c;
}

.commentDate {
  color: #837156;
  font-size: 14px;
}

.commentContent {
  margin-left: 10px;
  margin-top: 5px;
  color: #837156;
}

.btnActive,
.btnHidden {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: #a5e4ff;
  transition: all 0.5s;
  font-size: 17px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btnActive {
  opacity: 1;
}

.btnActive:hover {
  cursor: pointer;
  /* box-shadow: 90px 0 0 0 rgba(0, 0, 0, 0.1) inset; */
  transform: translateY(-0.25em);
  transition: all 0.5s;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.btnHidden {
  opacity: 0;
  visibility: hidden;
}

.imgWrapper {
  margin-bottom: 20px;
}

.imgWrapper > img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

.textWrapper {
  font-size: 20px;
  text-align: center;
}
.textWrapper > div {
  line-height: 1.8rem;
}

.villagerName {
  font-size: 30px;
  margin: 7px 0 7px 0;
}

.avgText {
  font-size: 15px;
  color: grey;
}

.avgSubText {
  font-size: 18px;
  color: #00a3ed;
  text-shadow: 2px 2px #abe4ff;
}

.btnsWrapper {
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.btnsWrapper > button,
.goToCharInfoBtn {
  font-size: 15px;
  font-weight: bold;
  background: #fff5d0;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: #7e725c;
  transition: transform 250ms;
}

.btnsWrapper > button:hover,
.goToCharInfoBtn:hover {
  transform: translateY(-0.25em);
  cursor: pointer;
}

.rankCharWrapper {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rankCharCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.rankCharTitle,
.rankCharName {
  margin-top: 10px;
  margin-bottom: 20px;
}

.rankCharSubTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.charSmallSubTitle {
  font-size: 15px;
  font-family: "TmoneyRoundWindRegular" !important;
}

.percentTitle {
  color: #f27788;
}

.rankCharTitleBg,
.rankCharTitleBg2 {
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 80px;
  color: #fff;
}

.rankCharTitleBg {
  background-color: rgba(21, 203, 188, 0.7);
  box-shadow: 0 3px rgba(21, 158, 147, 0.8);
}

.rankCharTitleBg2 {
  background-color: rgba(252, 192, 199, 0.9);
  box-shadow: 0 3px rgba(242, 120, 136, 0.8);
}

.rankCharTitle {
  font-size: 25px;
}

.rankCharName {
  font-size: 18px;
  color: #835a2a;
}

.rankCharImage > img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

.slider {
  width: 500vw;
  transition: transform 0.8s;
}

.testContent {
  width: 100vw;
  max-height: 100vh;
  float: left;
}

.birthFormWrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.personForm,
.hobbyStyleForm,
.colorForm {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.personForm > div,
.hobbyStyleForm > div,
.colorForm > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorForm > div {
  flex-direction: column;
}

.personRadioBtn,
.hobbyStyleRadioBtn,
.colorRadioBtn {
  height: 45px;
}

.personRadioBtn,
.hobbyStyleRadioBtn {
  width: 80%;
}

.colorRadioBtn {
  width: 50%;
  margin: 20px;
}

.personRadioBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hobbyStyleRadioBtn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.colorTopDiv,
.colorBottomDiv,
.personalityLeftDiv,
.personalityRightDiv,
.hobbyStyleDiv {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personalityLeftDiv,
.personalityRightDiv,
.hobbyStyleDiv {
  flex-direction: column;
}

.testTitle {
  font-size: 2rem;
  margin-bottom: 30px;
}

.personRadioBtn input[type="radio"],
.personRadioBtn input[type="radio"]:checked,
.hobbyStyleRadioBtn input[type="radio"],
.hobbyStyleRadioBtn input[type="radio"]:checked,
.colorRadioBtn input[type="radio"],
.colorRadioBtn input[type="radio"]:checked {
  display: none;
}

.personRadioBtn label,
.hobbyStyleRadioBtn label,
.colorRadioBtn label {
  font-family: "TmoneyRoundWindRegular" !important;
  font-size: 18px;
  display: block;
  border-radius: 50px;
  margin: 0 auto;
  text-align: center;
  height: -webkit-fill-available;
  padding: 5px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.personRadioBtn label,
.hobbyStyleRadioBtn label {
  line-height: 45px;
}

.colorRadioBtn label {
  line-height: 35px;
}

.personRadioBtn label:hover,
.hobbyStyleRadioBtn label:hover,
.colorRadioBtn label:hover {
  cursor: pointer;
}

.personRadioBtn input[type="radio"] + label,
.hobbyStyleRadioBtn input[type="radio"] + label,
.colorRadioBtn input[type="radio"] + label {
  background: white;
  color: #7e725c;
}

.personRadioBtn input[type="radio"] + label,
.colorRadioBtn input[type="radio"] + label {
  width: 100%;
}

.hobbyStyleRadioBtn input[type="radio"] + label {
  width: 60%;
}

.personRadioBtn input[type="radio"]:checked + label,
.hobbyStyleRadioBtn input[type="radio"]:checked + label,
.colorRadioBtn input[type="radio"]:checked + label {
  background: #66d267;
  /* background: #a9fbca; */
  color: white;
}

.fadeInImg {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
