.bgImg {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../public/images/leafBgImg.png");
  opacity: 0.4;
  z-index: -1;
}

/* Seperate components from the background image, in order to set the background transparently  */
.stat {
  position: relative;
}
.stat::before {
  background-image: url("/public/images/leafBgImg.png");
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-position: 50% 0;
  z-index: -100;
}
.stat-content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-name: pop;
  animation-fill-mode: forwards;
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.homeBtn {
  top: 30px;
  right: 50px;
  position: relative;
}

.clickBtn {
  height: fit-content;
  text-align: center;
  font-size: 50px;
  margin: 150px;
  font-family: "TmoneyRoundWindExtraBold";
  animation: blink-effect 1s step-end infinite;
}

.desc {
  height: fit-content;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  font-family: "TmoneyRoundWindExtraBold";
}

.stats {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  z-index: 1;
}

.graphBack {
  position: relative;
  background-color: #f7f8ee;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "TmoneyRoundWindRegular";
}

.graphDesc {
  display: flex;
  flex-direction: column;
  align-items: end; 
}

.personalityDesc > p {
  text-align: center;
  font-size: 1.24rem;
  font-family: "TmoneyRoundWindRegular";
}

.popularitySpeciesDesc {
  margin-top: 20px;
  text-align: center;
  font-size: 1.24rem;
  font-family: "TmoneyRoundWindRegular";
  line-height: 2rem;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
