.teamPageBtn {
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
  animation: rotate 1.2s infinite;
  position: fixed;
  top: 30px;
  left: 50px;
}

.teamPageBtn:hover {
  cursor: pointer;
}

.teamPageBtn > img {
  width: 80px;
  height: 80px;
}

@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
