html {
    margin: 0;
    padding: 0;
}
.phrase {
    font-family: TmoneyRoundWindExtraBold;
    font-size: 2rem;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown {
    border: 1.2px #c0dbdd solid;
    color: black;
    padding: 10px;
    font-size: 1.23rem;
    line-height: 1.2em;
    border-radius: 25px 0px 0px 25px;
    text-align: center;
    cursor: pointer;
    width: 10rem;
    height: 100%;
    box-shadow: 1px 3px 2px 1px rgba(25, 25, 25, .2);
    background-color: #ffffff;
    font-family: TmoneyRoundWindExtraBold;
}
input.comment {
    border: 1.2px #c0dbdd solid;
    color: black;
    padding: 10px;
    font-size: 1.23rem;
    line-height: 1.2em;
    border-radius: 0px 25px 25px 0px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-shadow: 1px 3px 2px 1px rgba(25, 25, 25, .2);
    background-color: #ffffff;
    font-family: TmoneyRoundWindExtraBold;
}
div.comment {
    height: 100%;
}
.btn-comment {
    border: 1.2px #c0dbdd solid;
    color: black;
    padding: 10px;
    font-size: 1.23rem;
    line-height: 1.2em;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    height: 45px;
    box-shadow: 1px 3px 2px 1px rgba(25, 25, 25, .2);
    background-color: #fff9e4;
    font-family: TmoneyRoundWindExtraBold;
}
.btn-comment:hover {
    background-color: #cdcdcd;
}
.menu > button{
    border: 1.2px #c0dbdd solid;
    color: black;
    padding: 10px;
    font-size: 1.23rem;
    line-height: 1.2em;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    height: 45px;
    box-shadow: 1px 3px 2px 1px rgba(25, 25, 25, .2);
    background-color: #fff9e4;
    font-family: TmoneyRoundWindExtraBold;
}
div.presenting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
div.writing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 10%;
    height: 10%;
}
.speech-bubble {
    position: relative;
    border: 1.2px #c0dbdd solid;
    color: black;
    padding: 10px;
    font-size: 1.23rem;
    line-height: 1.2em;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    height: 25px;
    box-shadow: 1px 3px 2px 1px rgba(25, 25, 25, .2);
    background-color: #fff9e4;
    font-family: TmoneyRoundWindExtraBold;
}
.comment-box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}